﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1> @ViewBag.Greeting. </h1> 
        <p>We're going to have an exciting party.<br />
       (To do: sell it better. Add pictures or something.)
       </p>

        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</body>
</html>
