﻿@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
       <h1> Thank you for RSVP </h1>
        <p>@Model.Name</p> 
        @if((bool)Model.WillAttend)
        {
            <p>Sorry you cannot attend</p>
        }
        else
        {
            <p>Glad you can make it!</p>
        }
    </div>
</body>
   @{
try {
              WebMail.SmtpServer = "smtp.example.com";
              WebMail.SmtpPort = 587;
              WebMail.EnableSsl = true;
              WebMail.UserName = "mySmtpUsername";
              WebMail.Password = "mySmtpPassword";
              WebMail.From = "rsvps@example.com";
              WebMail.Send("party-host@example.com", "RSVP Notification",
                  Model.Name + " is " + ((Model.WillAttend ?? false) ? "" : "not")
                      + "attending");
          } catch (Exception) {
             @:<b>Sorry - we couldn't send the email to confirm your RSVP.</b>
} } 
    
    
</html>
